* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 8fr;
    height: 100vh;
}

.sidebar {
    background-color: #118AB2;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr 8fr;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
}

.sidebar-content, .logo {
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
}

.logo {
    grid-row: 1 / 2;
    margin-bottom: 40px;
    gap: 10px;
}

.sidebar-content {
    grid-row: 2 / 4;
    font-size: 8px;
    gap: 10px;
}

.sidebar-content:hover {
    text-decoration: underline;
    cursor: pointer;
}

.logo svg {
    height: 50px;
}

.sidebar-content svg {
    height: 25px;
}

.first-list {
    margin-bottom: 50px;
}

.header {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.search {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 10px;
}

.search svg {
    height: 20px;
}

.searchbar {
    border: 2px solid gray;
    border-radius: 15px;
    outline: none;
    font-size: 12px;
    width: 100%;
    padding: 5px;
}

.profile-info {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 10px;
    color: #555555;
}

.profile-info svg {
    height: 30px;
}

.profile-info img {
    height: 30px;
    border-radius: 50%;
}

.hello {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    gap: 10px;
    font-size: 16px;
}

.hello img {
    height: 40px;
    border-radius: 50%;
}

.hello h1 {
    font-weight: normal;
    color: #333333;
}

.buttons {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    background-color: #118AB2;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #0E6A8A;
}