* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

:root {
    --sidebar-width: 260px;
    --header-height: 120px;
}

.container {
    display: grid;
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: var(--header-height) 1fr;
    height: 150vh;
}

.sidebar {
    background-color: #118AB2;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr 8fr;
    position: fixed;
    height: 100vh;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
}

.sidebar-content, .logo {
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
}

.logo {
    grid-row: 1 / 2;
    margin-bottom: 40px;
    gap: 10px;
}

.sidebar-content {
    grid-row: 2 / 4;
    font-size: 8px;
    gap: 10px;
}

.sidebar-content:hover {
    text-decoration: underline;
    cursor: pointer;
}

.logo svg {
    height: 50px;
}

.sidebar-content svg {
    height: 25px;
}

.first-list {
    margin-bottom: 50px;
}

.header {
    position: fixed;
    top: 0;
    left: var(--sidebar-width);
    right: 0;
    height: var(--header-height);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    z-index: 999;
    background: white;
}

.search {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 10px;
}

.search svg {
    height: 20px;
}

.searchbar {
    border: 2px solid gray;
    border-radius: 15px;
    outline: none;
    font-size: 12px;
    width: 100%;
    padding: 5px;
}

.profile-info {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 10px;
    color: #555555;
}

.profile-info svg {
    height: 30px;
}

.profile-info img {
    height: 30px;
    border-radius: 50%;
}

.hello {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    gap: 10px;
    font-size: 16px;
}

.hello img {
    height: 40px;
    border-radius: 50%;
}

.hello h1 {
    font-weight: normal;
    color: #333333;
}

.buttons {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    background-color: #118AB2;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #0E6A8A;
}

.main-content {
    grid-column: 2 / 3;
    padding: 20px;
    margin-top: var(--header-height);
    height: 150vh;
    overflow: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
    background-color: #f5f5f5;
    color: #333333;
}

.projects {
    grid-column: 1 / 2;
}

.projects h3 {
    margin-bottom: 15px;
}

.card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px; 
}

.card-single {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.1);
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-left: 8px solid #118AB2;
}

.card-buttons {
    align-self: flex-end;
    display: flex;
    gap: 30px;
}

.card-buttons a{
    text-decoration: none;
    color: black;
}

.card-buttons a svg {
    height: 20px;
}

.right-main {
    grid-column: 2 / 3;
}

.right-main h3 {
    margin-bottom: 15px;
    margin-top: 15px;
}

.announcements{
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 0;
    border-radius: 8px;
    box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.1);
    background-color: #FFF;
}

.announcement-single {
    border-bottom: 2px solid lightgray;
    padding: 20px 0 20px 0;
}

.announcement-single p {
    margin-top: 10px;
    color: #555555;
    font-size: 12px;
}

.trending {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px -1px rgba(0,0,0,0.1);
    background-color: #FFF;
    gap: 20px;
}

.trending-single {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.trending-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFD166;
}

.trending-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}
