* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 8fr;
    height: 100vh;
}

.sidebar {
    background-color: #118AB2;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    padding: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr 8fr;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
}

.sidebar-content, .logo {
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
}

.logo {
    grid-row: 1 / 2;
    margin-bottom: 40px;
    gap: 10px;
}

.sidebar-content {
    grid-row: 2 / 4;
    font-size: 8px;
    gap: 10px;
}

.sidebar-content:hover {
    text-decoration: underline;
    cursor: pointer;
}

.logo svg {
    height: 50px;
}

.sidebar-content svg {
    height: 25px;
}

.first-list {
    margin-bottom: 50px;
}